html {
padding: 0;
margin: 0;
min-height: 100%;
position: relative;
}

body {
  background: linear-gradient( 90deg, rgb(156, 213, 244),  rgb(80, 247, 172)) ;
  font-family: "Verdana", sans-serif;
  width: 100%;  
  }

#conteiner {
  width: 100%;    
 }

header{
  background-color: rgb(212, 239, 90);
  text-align: center;
  width: auto;
  height: 50px;
}
#titulo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 35px;
 font-weight: bolder;
}
nav {
  width: auto;
  background:lightsalmon ;  
  height: 50px;
  border: 1px solid black;
 
}

nav ul li {
  width: auto;
  list-style: none;
  font-family: fantasy;
  text-align: center;
  font-size: x-large;

}
.clearfix {
clear: both;
}

main {
width: 100%;
display: flex;
margin-left: 80px;
margin-bottom: 30px;
margin-top: 5%;
}

.transcripcion{
  background: linear-gradient( 90deg, rgb(156, 213, 244),  rgb(80, 247, 172)) ;
  width:60%;
  resize: none ;
  font-size: 32px;  
  border-radius: 20px;
}


.mensaje{
resize: none ;
font-size: 32px;
width:60% ;
height: 60%;
 background:linear-gradient( 90deg, rgb(156, 213, 244),  rgb(80, 247, 172)) ;
border-radius: 20px;
}

::placeholder {
  color: #000000;
  font-family: "Verdana", sans-serif;
}

#encriptar, #desencriptar , #copiar {
    width: 50%;
    margin: 2px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 50%;
    transition: 1s all;
    cursor:pointer;
}

.encriptar:hover{
    background: darkorange;
    transform: scale(1.2);
}



footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  border: 1px solid black;

}